@*
MyHtmlHelperExtension method   
*@
@model ModelClassLibrary.Product;
@using HelperClassLibrary;
<html>
<body>
<div>

</div>

<div>
    @Html.ColorfulHeading(1, "green", "Welcome to Seattle")
    @Html.ColorfulHeading(2, "orange", "Especially in Summer")
</div>
<hr/>
<div>
    @Html.GetName(model => model.ID): @Html.FakeTextBoxFor(model => model.ID)<br/>
    @Html.GetName(model => model.Name): @Html.FakeTextBoxFor(model => model.Name)<br/>
    @Html.GetName(model => model.Price): @Html.FakeTextBoxFor(model => model.Price)<br/>
</div>
<hr/>
<div>
    @Html.FakeTable((string[])ViewData["columns"], (string[,])ViewData["content"])
</div>
</body>
</html>