@{
    Layout = null;
}
@model System.Collections.Generic.List<ModelClassLibrary.Transformer>

<!DOCTYPE html>
<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        <h1>Roles in Transformer Movie</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Color</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model)
                {
                    <tr id="trans@(t.ID)record">
                        <td>@t.ID</td>
                        <td>@t.Name</td>
                        <td>@t.Location</td>
                        <td>@t.Color</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <hr />
    <div>
        <h1>Roles in Transformer Movie</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Color</th>
                </tr>
            </thead>
            <tbody>
                @*相对路径*@
                @foreach (var t in Model)
                {
                    <partial name="RowTableRow" for="@t" />
                }
            </tbody>
            <tfoot>
                <tr></tr>
            </tfoot>
        </table>
    </div>

    <hr />
    <div>
        <h1>Roles in Transformer Movie</h1>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Color</th>
            </tr>

            @*绝对路径*@
            @foreach (var t in Model)
            {
                <partial name="~/Views/Razor/RowTableRow.cshtml" model="t" />
            }
        </table>
    </div>
    <hr />
    <h1>Roles in Transformer Movie</h1>
    <div id="containerId"></div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/partialView.js"></script>
</body>
</html>