@*
    @{
        /* C# comment */
        // Another C# comment
    }
    <!-- HTML comment -->

    (Pure) Razor keywords: model, functions, inherits, section, helper
    C# Razor keywords: using, for, foreach, if, else, while, do, switch, case, default, try, catch, finally

    view的基本类型是Microsoft.AspNetCore.Mvc.Razor.RazorPage<TModel>，其中@model关键字设置泛型类TModel
*@
@using ModelClassLibrary;

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    @*single line statement*@
    @{
        var message = "I am single line statements @@hello world";
    }
    @*inline markup*@
    <h5>The message is : @message</h5>

    @*this is Code Block*@
    @*C# code is case sensitive.*@
    @{
        var num1 = 5;
        var num2 = 10;
        var result = num1 + num2;
        var msg = "Hi, there";
        var MSG = "Hello world";
    }

    @*inline Markup*@
    <h5>@num1 + @num2 = @result</h5>
    <h5>@msg</h5>
    <h5>@MSG</h5>

    @*Using Objects in Razor Mardkup*@
    @{
        var product = new Product() { ID = 1, Name = "Hello Book", Price=1.2 };
        <h5>@product.ID</h5>
        <h5>@product.Name</h5>
    }

    @*logic sentence*@
    @{
        string mess;
        var j = 50;
        if (j < 5)
        {
            mess = "less than five";
        }
        else
        {
            mess = "more than five";
        }
    }
    <h5>@mess</h5>

    @*combine Text, HTML and Razor*@
    @{
        var name = "Jack";
        var Year = 20;
    }
    <h5>Hello @name, You are @Year years old.</h5>

    @*date time*@
    @{
        string year, month, day, time;
        year = DateTime.Now.Year.ToString();
        month = DateTime.Now.Month.ToString();
        day = DateTime.Now.DayOfWeek.ToString();
        time = DateTime.Now.ToShortTimeString();

        <h5>Current Year: @year</h5>
        <h5>Current Month: @month</h5>
        <h5>Current Day: @day</h5>
        <h5>Current Time: @time</h5>
    }

    @*Math Operators:+ - * /; = == != < > <= =>; +(concatenation); ++ += -- -=; . () [] !; && ||*@
    @{
        int Num1, Num2, plus, minus, multi, divide;
        Num1 = 45;
        Num2 = 9;
        plus = Num1 + Num2;
        minus = Num1 - Num2;
        multi = Num1 * Num2;
        divide = Num1 / Num2;

        <h5>Addition: @Num1 + @Num2 = @plus</h5>
        <h5>Subtraction: @Num1 - @Num2 = @minus</h5>
        <h5>Multiplication: @Num1 * @Num2 = @multi</h5>
        <h5>Divide: @Num1 / @Num2 = @divide</h5>
    }

    @*Control statement IF else if else; switch case*@
    @{
        if (DateTime.Now.DayOfWeek.ToString() == "Sunday")
        {
            <h3>Hurrayyy----- Its Funday!</h3>
        }
        else
        {
            <h2>Oh no. Its @DateTime.Now.DayOfWeek</h2>
        }
        switch (day)
        {
            case "Monday":
                <h3> It is Monday</h3>
                break;
            case "Tuesday":
                <h3>It's Tuesday</h3>
                break;

            case "Wednesday":
                <h3>It's Wednesday</h3>
                break;

            case "Thursday":
                <h3>It's Thursday</h3>
                break;

            case "Friday":
                <h3>It's Friday</h3>
                break;

            case "Saturday":
                <h3>It's Saturday</h3>
                break;

            case "Sunday":
                <h3>It's Sunday</h3>
                break;

            default:
                <h3>What! Ok! Its Funday</h3>
                break;
        }
    }

    @*Loop  for, foreach, while do while*@
    @{
        int i;
        for (i = 1; i < 5; i++)
        {
            <h4>@i Hello Razor, How are you!</h4>
        }

        i = 0;
        while (i < 5)
        {
            <h4>@i Hello Razor, How are you!</h4>
            i++;
        }

        i = 0;
        do
        {
            <strong>@i </strong>
            i++;
        } while (i < 5);
    }
    @*foreach, array*@
    @{
        //Single Dimensional Array
        <h3>Single Dimensional Array</h3>
        int[] arr = { 1, 3, 5, 7, 11, 13, 15, 17, 19 };
        foreach (var n in arr)
        {
            <span>@n, </span>
        }

        //Multi Dimensional Array
        <h3>Multi Dimensional Array</h3>
        string[,] letter = new string[3, 2] { { "a", "b" }, { "c", "d" }, { "e", "f" } };
        for (i = 0; i < 3; i++)
        {
            for (j = 0; j < 2; j++)
            {
                <span>@letter[i, j]</span>
            }
        }

    }

    @*Dictionary*@
    @{
        var dict = new Dictionary<string, int>();
        dict.Add("Jack", 75);
        dict.Add("Steven", 80);
        dict.Add("Clark", 95);

        <h3>Result of the students are:</h3>
        <h3>Jack: @dict["Jack"]</h3>
        <h3>Steven: @dict["Steven"]</h3>
        <h3>Clark: @dict["Clark"]</h3>

    }

    @*function*@
    @functions
    {
    public int sum(int x, int y)
    {
        return x + y;
    }
    }
    <h3>Add of 5 + 6 is @sum(5, 6)</h3>

    @*Errors handle*@
    @functions
    {
    public int Divide(int x, int y)
    {
        try
        {
            return x / y;
        }
        catch (DivideByZeroException d)
        {
            WriteLiteral("<br />Cannot Divide by Zero Exception found <br />");
            WriteLiteral("Additional Info: " + d.ToString());
            return 0;
        }
    }

    }
    <h3>Division of 10 / 0 is @Divide(10, 2)</h3>


    @*Converting To String*@
    @{
        var iNum = 234;
        var dtNow = DateTime.Now;
        var bTrue = true;

        <h5>@iNum.ToString()</h5>
        <h5>@dtNow.ToString()</h5>
        <h5>@bTrue.ToString()</h5>
    }
</body>
</html>