@{
    var title = "Hello Modal DataTable";
    var index = 1;
}
@using Second.Model;
@model IList<DepartmentInfo>

@section Styles{
    <link href="~/lib/DataTables/datatables.min.css" rel="stylesheet" />

}

<div class="modal-header">
    <h4>@ViewBag.Title</h4>
    <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
    <table id="modalSampleDataTable2" class="table">
        <thead>
            <tr>
                <th>Index</th>
                <th>@Html.DisplayNameFor(model => model.First().DepartmentId)</th>
                <th>@Html.DisplayNameFor(model => model.First().DepartmentName)</th>
                <th>@Html.DisplayNameFor(model => model.First().StreetAddress)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model)
            {
                <tr>
                    <td>@index</td>
                    <td>@c.DepartmentId</td>
                    <td>@c.DepartmentName</td>
                    <td>@c.StreetAddress</td>
                </tr>
                index += 1;
            }
        </tbody>
    </table>

</div>
<div class="modal-footer">
    <button id="cancle" type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
</div>


<script src="~/lib/DataTables/DataTables-1.10.23/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        if ($.fn.DataTable.isDataTable('#modalSampleDataTable2')) {
            $('#modalSampleDataTable2').DataTable().destroy();
            $('#modalSampleDataTable2').empty();
        };

        $('#modalSampleDataTable2').DataTable({
            "language": {
                "infoEmpty": '<p>error</p>',
                "search": "Search by:",
                "processing": "<div class='datatable-loading'><div class='content-loading'><div></div><div></div><div></div><div></div></div></div>"
            },
            "bPaginate": false,
            "columnDefs": [
                { "searchable": false, "targets": [2] },
            ],
            "bScrollCollapse": true,
            "autoWidth": false,
        }).draw();
    });
</script>

