
@{
    ViewData["Title"] = "ReadXmlData";
    var index = 1;
}
@model IList<XmlCountryModel>
<div>
    <h1>ReadXmlData</h1>

    <table border="1">
        <tr>
            <th>Index</th>
            <th>Continent</th>
            <th>Iso</th>
            <th>Code</th>
            <th>Name</th>
        </tr>
        @foreach (var c in Model)
        {
            <tr>
                <td>@index</td>
                <td>@c.Continent</td>
                <td>@c.Iso</td>
                <td>@c.Code</td>
                <td>@c.Name</td>
            </tr>
            index +=1;
        }
    </table>
</div>

