@{
    ViewData["Title"] = "Country";
    var index = 1;
}
@using Second.DataAccess.ApplicationDb;
@model IList<Country>
<div>
    <h1>Country</h1>

    <table border="1">
        <tr>
            <th>Index</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().CountryId)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().CountryName)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().RegionId)</th>
        </tr>
        @foreach (var c in Model)
        {
            <tr>
                <td>@index</td>
                <td>@c.CountryId</td>
                <td>@c.CountryName</td>
                <td>@c.RegionId</td>
            </tr>
            index += 1;
        }
    </table>
</div>
