@model ModelClassLibrary.Game

<html>
    <body>
        <table border="1">
            <tr>
                <td>@Html.DisplayNameFor(model => model.City)</td>
                <td>@Html.DisplayNameFor(model => model.Player1.Name)</td>
                <td>@Html.DisplayNameFor(model => model.Player1.Rank)</td>
                <td>@Html.DisplayNameFor(model => model.Player2.Name)</td>
                <td>@Html.DisplayNameFor(model => model.Player2.Rank)</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.City)</td>
                <td>@Html.DisplayFor(model => model.Player1.Name)</td>
                <td>@Html.DisplayFor(model => model.Player1.Rank)</td>
                <td>@Html.DisplayFor(model => model.Player2.Name)</td>
                <td>@Html.DisplayFor(model => model.Player2.Rank)</td>
                </tr>
        </table>
    </body>
</html>